---
---

@import "{{ site.theme }}";
////
/// Screenplay SASS Library
/// 
/// @group core
/// @author Mike Hingley
////

/// Typography
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');



$courier: 'Courier Prime', serif;

body {
  font-family: $courier;
  font-size: 12pt;

  
}

.dialog{
    margin-left : 1in;
    width: 3in;
    background-color:blue;
    color: rgb(255, 0, 0);
}

.actors-instructions{
    margin-left : 1.6in;
}

.action{
    margin-left : 1.6in;
}

.character-cue{
    margin-left : 2.2in;  
}

.scene{
    margin-bottom: 12pt;
}

.scene-transitions, .fade-out{
    text-align: right;
}
.fade-in{
    text-align: left;
}

.print-only {
  display: none;
  @media print { 
      display: block; 
  }
}


/* Specific layout for title pages when printing*/
@media print {
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #000;
    .page-number::after {
        content: counter(page);
    }
    }

     
    // wip-page {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     height: 100vh; /* Full viewport height */
    //     width: 100vw; /* Full viewport width */
    //     margin: 0;
    //     padding: 0;
    // }

    // .wip-title-page {
    //     text-align: center;
    //     font-size: 1.5em; /* Adjust as needed */
    //     padding: 20px; /* Optional padding */
    //     border: 1px solid #000; /* Optional border */
    // }
@page {
  margin-left : 1.5in;
  margin-right: 1.25in;
  margin-top: 1in;
  margin-bottom: 1in;
 
}
}




// page{
//  @media print
//  {
//      .pagebreak { page-break-before: always; } /* page-break-after works, as well */
//      .title-page {
//         page-break-before: always;
//         text-align: center;
//         margin-top: 50%;
//      }
//      .content {
//        page-break-after: always;
//      }  
//      .page-number {
//        position: fixed;
//        bottom: 0;
//        width: 100%;
//        text-align: center;
//      }
//  }   
//  .screenplay-title{
//         background: tan;
//         display:block;
//  }
//  by{
//         display:block;
//  }
//  author{
//         display:block;
//  }
//  background: green;
// }
